body {
  background-color: black;
  color: #8f00ff;

  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px
}

header {
  width: 765px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 15px;
}

.controls {
  width: 765px;

  display: flex;
  justify-content: space-around;
  gap: 30px;
}

button {
  background-color: transparent;
  border: none;
  touch-action: manipulation;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline: 3px solid #8f00ff;
}

.container {
  width: 675px;
  height: 675px;
  padding: 45px;
  border: 1px solid lightgrey;

  display: flex;
  flex-wrap: wrap;
}

.container div {
  width: 45px;
  height: 45px;
  border: 1px solid rgb(58, 58, 58);
  box-sizing: border-box;
}

.invader {
  background-image: url("./assets/invader.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.spaceship {
  background-image: url("./assets/space-ship.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.laser {
  background-image: url("./assets/laser.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.caught-invader {
  background-image: url("./assets/invader.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
}

@media only screen and (min-width:800px) {
  h1 {
    font-size: 2.5rem;
  }

  .buttons {
    gap: 32px;
  }

  button svg {
    height: 48px;
    width: 48px;
  }
}